@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Courier';
  src: local('Courier') url(./assets/fonts/Courier-PS-Regular.ttf) format('ttf');
}
body{
  font-family: 'Courier'
}
.center {
    @apply flex justify-center items-center;
  }
.center-child{
@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
.button-style {
  @apply bg-gradient-to-br from-blue-600 to-blue-500 text-gray-300;
}
.menu-style{
  @apply h-14 pl-5 flex items-center gap-7 my-5 relative cursor-pointer;
}

.word-highlight{
  @apply text-4xl
}
.word-normal{
  @apply text-xl text-gray-600
}